<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" routerLink="/">Cadastro de Livros - TJ</a>
    <div class="navbar-nav ms-auto">
      <a class="nav-link" routerLink="/livros" routerLinkActive="active">Livros</a>
      <a class="nav-link" routerLink="/autores" routerLinkActive="active">Autores</a>
      <a class="nav-link" routerLink="/assuntos" routerLinkActive="active">Assuntos</a>
    </div>
  </div>
</nav>

<div class="container mt-4">
  <router-outlet></router-outlet>
</div>